/*
==============================================
LICENSED IMAGE ASSETS
==============================================
This module for Foundry Virtual Tabletop includes art assets licensed from GameDev Market (https://www.gamedevmarket.net/terms-conditions/#pro-licence)
These assets are packaged with and provided for use in this module and may not be redistributed or used outside of this module except as permitted by a separate license agreement between the original copyright holder of these assets. These license terms apply to all assets located in this file.

Artwork assets included were created by https://www.gamedevmarket.net/member/blackhammer/.
*/
:root {
	--rpg-ui-logo: url(../.private/gui/ui-icon.png);

	--rpg-ui-background-button: url(../.private/gui/ui-board-button.png);
	--rpg-ui-background-wood: url(../.private/gui/ui-board-wood.png);
	--rpg-ui-background-wood-alt: url(../.private/gui/ui-board-wood-alt.png);
	--rpg-ui-background-stone: url(../.private/gui/ui-board-stone.png);
	--rpg-ui-background-board: url(../.private/gui/ui-board-board.png);
	--rpg-ui-background-parchment: url(../.private/gui/ui-board-parchment.png);
	--rpg-ui-background-parchment-with-nails: url(../.private/gui/ui-board-parchment-with-nails.png);
	--rpg-ui-background-old-fabric: url(../.private/gui/ui-board-old-fabric.png);

	--rpg-ui-content-board-1: url(../.private/gui/ui-content-board-1.png);
	--rpg-ui-content-board-2: url(../.private/gui/ui-content-board-2.png);

	--rpg-ui-title-iron: url(../.private/gui/ui-title-iron.png);
	--rpg-ui-title-ribbon-black: url(../.private/gui/ui-title-ribbon-black.png);
	--rpg-ui-title-ribbon-blue: url(../.private/gui/ui-title-ribbon-blue.png);
	--rpg-ui-title-ribbon-brown: url(../.private/gui/ui-title-ribbon-brown.png);
	--rpg-ui-title-ribbon-green: url(../.private/gui/ui-title-ribbon-green.png);
	--rpg-ui-title-ribbon-green-dark: url(../.private/gui/ui-title-ribbon-dark-green.png);
	--rpg-ui-title-ribbon-navy: url(../.private/gui/ui-title-ribbon-navy.png);
	--rpg-ui-title-ribbon-navy-purple: url(../.private/gui/ui-title-ribbon-navy-purple.png);
	--rpg-ui-title-ribbon-orange: url(../.private/gui/ui-title-ribbon-orange.png);
	--rpg-ui-title-ribbon-pink: url(../.private/gui/ui-title-ribbon-pink.png);
	--rpg-ui-title-ribbon-purple: url(../.private/gui/ui-title-ribbon-purple.png);
	--rpg-ui-title-ribbon-red: url(../.private/gui/ui-title-ribbon-red.png);
	--rpg-ui-title-ribbon-sky-blue: url(../.private/gui/ui-title-ribbon-sky-blue.png);
	--rpg-ui-title-ribbon-yellow: url(../.private/gui/ui-title-ribbon-yellow.png);
	--rpg-ui-title-ribbon-yellow-green: url(../.private/gui/ui-title-ribbon-yellow-green.png);
	
	--rpg-ui-button-close: url(../.private/gui/ui-button-close.png);
	--rpg-ui-button-with-rings: url(../.private/gui/ui-button-with-rings.png);

	--rpg-ui-button-big: url(../.private/gui/ui-button-big.png);
	--rpg-ui-button-big-pressed: url(../.private/gui/ui-button-big-pressed.png);

	--rpg-ui-button-long-arrow: url(../.private/gui/ui-button-long-arrow.png);
	--rpg-ui-button-long-arrow-pressed: url(../.private/gui/ui-button-long-arrow-pressed.png);

	--rpg-ui-button-rounded: url(../.private/gui/ui-button-rounded.png);
	--rpg-ui-button-rounded-pressed: url(../.private/gui/ui-button-rounded-pressed.png);
	--rpg-ui-button-circle: url(../.private/gui/ui-button-circle.png);
	--rpg-ui-button-circle-pressed: url(../.private/gui/ui-button-circle-pressed.png);
	--rpg-ui-button-border: url(../.private/gui/ui-button-border.png);
	--rpg-ui-button-border-pressed: url(../.private/gui/ui-button-border-pressed.png);

	--rpg-ui-button-with-rings: url(../.private/gui/ui-button-with-rings.png);
	--rpg-ui-button-rings: url(../.private/gui/ui-button-rings.png);

	
	--rpg-ui-icon-number: url(../.private/gui/ui-icon-number.png);

	--rpg-ui-icon-rounded-blue-border: url(../.private/gui/ui-icon-rounded-blue-border.png);
	--rpg-ui-icon-rounded-brown-border: url(../.private/gui/ui-icon-rounded-brown-border.png);
	--rpg-ui-icon-rounded-green-border: url(../.private/gui/ui-icon-rounded-green-border.png);
	--rpg-ui-icon-rounded-red-border: url(../.private/gui/ui-icon-rounded-red-border.png);
	--rpg-ui-icon-rounded-violet-border: url(../.private/gui/ui-icon-rounded-violet-border.png);
	--rpg-ui-icon-rounded-white-border: url(../.private/gui/ui-icon-rounded-white-border.png);

	--rpg-ui-icon-rounded-blue-overlay: url(../.private/gui/ui-icon-rounded-blue-overlay.png);
	--rpg-ui-icon-rounded-brown-overlay: url(../.private/gui/ui-icon-rounded-brown-overlay.png);
	--rpg-ui-icon-rounded-green-overlay: url(../.private/gui/ui-icon-rounded-green-overlay.png);
	--rpg-ui-icon-rounded-red-overlay: url(../.private/gui/ui-icon-rounded-red-overlay.png);
	--rpg-ui-icon-rounded-violet-overlay: url(../.private/gui/ui-icon-rounded-violet-overlay.png);
	--rpg-ui-icon-rounded-white-overlay: url(../.private/gui/ui-icon-rounded-white-overlay.png);


	--rpg-ui-inputs-checkbox-empty: url(../.private/gui/ui-input-checkbox.png);
	--rpg-ui-inputs-radio-empty: url(../.private/gui/ui-input-radio.png);

	--rpg-ui-inputs-checkbox-checked-green: url(../.private/gui/ui-input-checkbox-checked-green.png);
	--rpg-ui-inputs-checkbox-checked-mint: url(../.private/gui/ui-input-checkbox-checked-mint.png);
	--rpg-ui-inputs-checkbox-checked-orange: url(../.private/gui/ui-input-checkbox-checked-orange.png);
	--rpg-ui-inputs-checkbox-checked-white: url(../.private/gui/ui-input-checkbox-checked-white.png);
	--rpg-ui-inputs-checkbox-checked-yellow: url(../.private/gui/ui-input-checkbox-checked-yellow.png);

	--rpg-ui-inputs-radio-checked-green: url(../.private/gui/ui-input-radio-checked-green.png);
	--rpg-ui-inputs-radio-checked-orange: url(../.private/gui/ui-input-radio-checked-orange.png);
	--rpg-ui-inputs-radio-checked-sky: url(../.private/gui/ui-input-radio-checked-sky.png);
	--rpg-ui-inputs-radio-checked-white: url(../.private/gui/ui-input-radio-checked-white.png);
	--rpg-ui-inputs-radio-checked-yellow: url(../.private/gui/ui-input-radio-checked-yellow.png);

	--rpg-ui-window-coupling: url(../.private/gui/ui-window-coupling.png);
}