@import '_mixins';

:root {
	--rpg-ui-dialog-title: var(--rpg-ui-title-iron);
	--rpg-ui-dialog-background: var(--rpg-ui-background-stone);
	--rpg-ui-dialog-foreground: var(--rpg-ui-background-parchment);
}

/*======================================================================*/
/* FORMAT DIALOG TITLE
/*======================================================================*/
.window-app.dialog, .window-app.sheet-config, .window-app.folder-edit {
	@include windowHeader(--rpg-ui-dialog-title);
	
	.window-header a:not(.close) {
		display: none !important;
	}
	.window-header a.header-button.close {
		transform: translate(-124px, 15px) !important;
		z-index: -1 !important;
	}
} 

/*======================================================================*/
/* FORMAT DIALOG CONTENT
/*======================================================================*/
.window-app.dialog .window-content {
	@include windowContentBackground(--rpg-ui-dialog-background);
}
.window-app.dialog .window-content .dialog-content {
	@include windowContentParchment(--rpg-ui-dialog-foreground);
	
	margin: 0.5rem;
}
.window-app.sheet-config .window-content,
.window-app.folder-edit .window-content  {
	@include windowContentBackground(--rpg-ui-dialog-background);
}
.window-app.sheet-config .window-content > form, 
.window-app.folder-edit .window-content > form {
	@include windowContentParchment(--rpg-ui-dialog-foreground);

	margin: 0.5rem;
    padding: 0.5rem;


	/*======================================================================*/
	/* FORMAT DIALOG BUTTONS
	/*======================================================================*/
	button {
		@include button;

		left: 50%;
		position: absolute;
		transform: translate(-50%, -3px);
	}
}


/*======================================================================*/
/* FORMAT DIALOG BUTTONS
/*======================================================================*/
.window-app.dialog .window-content .dialog-buttons {
	border-image-source: none;
    border-width: 0px;
	bottom: 0px;
	left: 0px;
    margin: 0px;
	padding: 0px 1rem;
	position: absolute;
	top: 100%;
	transform: translateY(-25px);
	width: 100%;

	button {
		@include button;

		img {
			display: none !important;
		}
	}
}

.window-app.folder-edit .window-content > form button[type="submit"] {
	transform: translate(-50%, 22px);
}