@import '_mixins';

:root {
	--rpg-ui-generic-title: var(--rpg-ui-title-iron);
	--rpg-ui-generic-background: var(--rpg-ui-background-stone);
	--rpg-ui-generic-foreground: var(--rpg-ui-background-parchment);
}
	
/*======================================================================*/
/* FORMAT GENERIC TITLE
/*======================================================================*/
.app.window-app:not(.simple-calendar) {
	@include windowHeader(--rpg-ui-generic-title);
}

/*======================================================================*/
/* FORMAT GENERIC CONTENT
/*======================================================================*/
.app.window-app:not(.simple-calendar) {
	.window-content {
		@include windowContentBackground(--rpg-ui-generic-background);
	
		padding: 0.5rem;

		> * {
			@include windowContentParchment(--rpg-ui-generic-foreground);
		}
	}
}

	
/*======================================================================*/
/* FIX FOR SVELTE APPS ADDING OVERFLOW: INHERIT
/*======================================================================*/
html .window-app.svelte-are4no.svelte-are4no.svelte-are4no {
	overflow: visible;
}
	
/*======================================================================*/
/* FIX FOR Module Compatibility Checker
/*======================================================================*/
html #mcc .window-content {
	background-image: none !important;
	padding: 0.5rem !important;
}
html #mcc .window-content table thead {
	top: -9px
}
html #mcc footer {
    background-color: transparent;
    margin: 0px;
    color: inherit;
}
html #mcc footer a {
	color: var(--color-text-hyperlink);
}


/*======================================================================*/
/* FIX FOR MODULE - SMALLTIME
/*======================================================================*/
#smalltime-app .window-content > form {
	border-width: 0px;

	input[type=range]::-webkit-slider-runnable-track,
	input[type=range]:focus::-webkit-slider-runnable-track {
		border-image-source: none;;
	}
}


/*======================================================================*/
/* FIX FOR MODULE - ALWAYS HP
/*======================================================================*/
#always-hp {
	background: url(/ui/denim075.png) repeat;
	box-shadow: 0 0 20px var(--color-shadow-dark);

	.window-header {
		flex: 0 0 30px;

		.window-title {
			align-items: start;
			background-image: none;
			left: auto;
			min-width: auto;
			padding: 0rem;
			position: relative;
			transform: none;
		}
	}

	.window-content {
		border-image-source: none;
    	border-width: 0px;
		border-top: 2px solid #782e22;

		> * {
			border-image-source: none;
			border-width: 0px;
			padding: 0px;
		}
	}
}