@import '_mixins';

:root {
	--rpg-ui-sidebar-playlists-background: var(--rpg-ui-background-stone);
}

/*======================================================================*/
/* FORMAT SIDEBAR - SCENES
/*======================================================================*/
#sidebar {
	.tab[data-tab].playlists-sidebar {
		background-color: transparent;
		background-image: none;
		border-image-source: var(--rpg-ui-sidebar-playlists-background);
		border-image-repeat: repeat;
		border-image-slice: 60 fill;
		border-image-width: 20px;
		border-width: 0px;
		box-shadow: none;
		
    	box-shadow: none;
		margin: 0px;
		padding: 7px;

		.playlist-sounds{
			border-image-source: var(--rpg-ui-content-board-1);
			border-image-repeat: repeat;
			border-image-slice: 50 fill;
			border-image-width: 20px;
			border-width: 0px;
			margin: 0.1rem 0rem;
			padding: 0.5rem 1rem;
		}
		
		/*======================================================================*/
		/* FORMAT INPUTS - RANGE
		/*======================================================================*/
		input[type=range]::-webkit-slider-runnable-track {
			background-color: transparent;
			background: transparent;
			border-image-source: var(--rpg-ui-inputs-range-track);
			border-image-repeat: repeat;
			border-image-slice: 10 fill;
			border-image-width: 5px;
			border-width: 0px;
		}
		input[type=range]:focus::-webkit-slider-runnable-track {
			background-color: transparent;
			background: transparent;
			border-image-source: var(--rpg-ui-inputs-range-track);
			border-image-repeat: repeat;
			border-image-slice: 10 fill;
			border-image-width: 5px;
			border-width: 0px;
		}
		input[type=range]::-webkit-slider-thumb {
			background-color: transparent;
			background-image: var(--rpg-ui-inputs-range-thumb);
			background-size: 100% 100%;
			border-width: 0px;
			box-shadow: none;
			transform: translateY(1px);
		}
	}
}