:root {
  --rpg-ui-generic-title: var(--rpg-ui-title-iron);
  --rpg-ui-generic-background: var(--rpg-ui-background-stone);
  --rpg-ui-generic-foreground: var(--rpg-ui-background-parchment);
}

/*======================================================================*/
/* FORMAT GENERIC CONTENT
/*======================================================================*/
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header {
  border-width: 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header .window-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: var(--rpg-ui-generic-title);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 250px;
  overflow: visible;
  padding: 0.5rem 1.5rem;
  position: absolute;
  -webkit-transform: translate(-50%, -15px);
          transform: translate(-50%, -15px);
  white-space: nowrap;
  z-index: 1;
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a.header-button.close {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: var(--rpg-ui-button-border);
  background-color: transparent;
  background-size: 100% 100%;
  color: var(--palette-danger-300);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 35px;
  position: absolute;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -webkit-transform: translate(-124px, 15px);
          transform: translate(-124px, 15px);
  right: -150px;
  width: 35px;
  z-index: -1;
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a.header-button.close i {
  font-size: var(--font-size-18);
  margin-right: 0px;
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a.header-button.close:hover, .app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a.header-button.close:active {
  background-image: var(--rpg-ui-button-border-pressed);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header .window-title ~ a:not(.close) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: var(--rpg-ui-button-with-rings);
  background-color: transparent;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  display: flex;
  font-size: var(--font-size-14);
  max-width: 150px;
  padding-left: 35px;
  position: absolute;
  right: -150px;
  -webkit-transform: translate(-20px, 70px);
          transform: translate(-20px, 70px);
  width: 150px;
  z-index: 1;
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header .window-title ~ a:not(.close):before {
  background-image: var(--rpg-ui-button-rings);
  background-color: transparent;
  background-size: 100% 100%;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 37px;
  position: absolute;
  -webkit-transform: translate(-35px, -1px);
          transform: translate(-35px, -1px);
  z-index: 1;
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(2) {
  -webkit-transform: translate(-20px, 60px);
          transform: translate(-20px, 60px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(3) {
  -webkit-transform: translate(-20px, 105px);
          transform: translate(-20px, 105px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(4) {
  -webkit-transform: translate(-20px, 150px);
          transform: translate(-20px, 150px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(5) {
  -webkit-transform: translate(-20px, 195px);
          transform: translate(-20px, 195px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(6) {
  -webkit-transform: translate(-20px, 240px);
          transform: translate(-20px, 240px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(7) {
  -webkit-transform: translate(-20px, 285px);
          transform: translate(-20px, 285px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(8) {
  -webkit-transform: translate(-20px, 330px);
          transform: translate(-20px, 330px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(9) {
  -webkit-transform: translate(-20px, 375px);
          transform: translate(-20px, 375px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(10) {
  -webkit-transform: translate(-20px, 420px);
          transform: translate(-20px, 420px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(11) {
  -webkit-transform: translate(-20px, 465px);
          transform: translate(-20px, 465px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(12) {
  -webkit-transform: translate(-20px, 510px);
          transform: translate(-20px, 510px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(13) {
  -webkit-transform: translate(-20px, 555px);
          transform: translate(-20px, 555px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(14) {
  -webkit-transform: translate(-20px, 600px);
          transform: translate(-20px, 600px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(15) {
  -webkit-transform: translate(-20px, 645px);
          transform: translate(-20px, 645px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(16) {
  -webkit-transform: translate(-20px, 690px);
          transform: translate(-20px, 690px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(17) {
  -webkit-transform: translate(-20px, 735px);
          transform: translate(-20px, 735px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-header a:not(.close):nth-child(18) {
  -webkit-transform: translate(-20px, 780px);
          transform: translate(-20px, 780px);
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-content {
  background: none;
  border-image-source: var(--rpg-ui-generic-background);
  border-image-repeat: repeat;
  border-image-slice: 60 fill;
  border-image-width: 20px;
  border-width: 5px;
  border-style: solid;
  padding: 0px;
  padding: 0.5rem;
}
.app.window-app:not(.dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout) .window-content > * {
  border-image-source: var(--rpg-ui-generic-foreground);
  border-image-repeat: repeat;
  border-image-slice: 85 fill;
  border-image-width: 20px;
  border-width: 15px;
  border-style: solid;
  padding: 0.5rem;
}

/*======================================================================*/
/* FIX FOR FILE PICKER
/*======================================================================*/
.filepicker .tiles-list {
  grid-template-columns: 90px 90px 90px 90px 90px;
  width: 451px;
}
.filepicker .tiles-list li {
  height: 90px;
  width: 90px;
}

/*======================================================================*/
/* FIX FOR SVELTE APPS 
/*======================================================================*/
html .window-app.svelte-are4no.svelte-are4no.svelte-are4no {
  overflow: visible;
}

html .window-content.svelte-are4no {
  border-radius: 0px 0px 5px 5px;
}

html .window-content.svelte-are4no ~ .window-resizable-handle {
  border-bottom-right-radius: 5px;
}

/*======================================================================*/
/* FIX FOR Module Compatibility Checker
/*======================================================================*/
html #mcc .window-content {
  background-image: none !important;
  padding: 0.5rem !important;
}

html #mcc .window-content table thead {
  top: -9px;
}

html #mcc footer {
  background-color: transparent;
  margin: 0px;
  color: inherit;
}

html #mcc footer a {
  color: var(--color-text-hyperlink);
}

/*======================================================================*/
/* FIX FOR MODULE - SMALLTIME
/*======================================================================*/
#smalltime-app .window-content > form {
  border-width: 0px;
}
#smalltime-app .window-content > form input[type=range]::-webkit-slider-runnable-track,
#smalltime-app .window-content > form input[type=range]:focus::-webkit-slider-runnable-track {
  border-image-source: none;
}

html #smalltime-darkness-config {
  position: relative;
}
html #smalltime-darkness-config .handles {
  --SMLTME-darkness-container-width: 440px;
}
html #smalltime-darkness-config .handles .sunset-start, html #smalltime-darkness-config .handles .sunset-end {
  margin-left: -72px;
}
html #smalltime-darkness-config .sunrise-start-bounds, html #smalltime-darkness-config .sunrise-end-bounds, html #smalltime-darkness-config .sunset-start-bounds, html #smalltime-darkness-config .sunset-end-bounds {
  bottom: 2px;
  margin-bottom: 0px;
  position: absolute;
  top: auto;
}
html #smalltime-darkness-config .sunset-start-bounds, html #smalltime-darkness-config .sunset-end-bounds {
  left: auto;
}
html #smalltime-darkness-config .sunrise-start-bounds {
  width: 176px;
}
html #smalltime-darkness-config .sunrise-end-bounds {
  width: 168px;
}
html #smalltime-darkness-config .sunset-start-bounds {
  right: -6px;
  width: 178px;
}
html #smalltime-darkness-config .sunset-end-bounds {
  right: -24px;
  width: 168px;
}

/*======================================================================*/
/* FIX FOR MODULE - ALWAYS HP
/*======================================================================*/
#always-hp {
  background: url(/ui/denim075.png) repeat;
  -webkit-box-shadow: 0 0 20px var(--color-shadow-dark);
          box-shadow: 0 0 20px var(--color-shadow-dark);
}
#always-hp .window-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}
#always-hp .window-header .window-title {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-image: none;
  left: auto;
  min-width: auto;
  padding: 0rem;
  position: relative;
  -webkit-transform: none;
          transform: none;
}
#always-hp .window-content {
  border-image-source: none;
  border-width: 0px;
  border-top: 2px solid #782e22;
}
#always-hp .window-content > * {
  border-image-source: none;
  border-width: 0px;
  padding: 0px;
}