:root {
  --rpg-ui-generic-title: var(--rpg-ui-title-iron);
  --rpg-ui-generic-background: var(--rpg-ui-background-stone);
  --rpg-ui-generic-foreground: var(--rpg-ui-background-parchment);
}

/*======================================================================*/
/* FORMAT GENERIC TITLE
/*======================================================================*/
.app.window-app {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.app.window-app .window-header {
  border-width: 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
.app.window-app .window-header .window-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: var(--rpg-ui-generic-title);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 300px;
  overflow: visible;
  padding: 0.5rem 1rem;
  position: absolute;
  -webkit-transform: translate(-50%, -15px);
          transform: translate(-50%, -15px);
  white-space: nowrap;
  z-index: 1;
}
.app.window-app .window-header a.header-button.close {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: var(--rpg-ui-button-border);
  background-color: transparent;
  background-size: 100% 100%;
  color: var(--palette-danger-300);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 35px;
  position: absolute;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -webkit-transform: translate(-124px, 15px);
          transform: translate(-124px, 15px);
  right: -150px;
  width: 35px;
  z-index: -1;
}
.app.window-app .window-header a.header-button.close i {
  font-size: var(--font-size-18);
  margin-right: 0px;
}
.app.window-app .window-header a.header-button.close:hover, .app.window-app .window-header a.header-button.close:active {
  background-image: var(--rpg-ui-button-border-pressed);
}
.app.window-app .window-header a.header-button:not(.close) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: var(--rpg-ui-button-with-rings);
  background-color: transparent;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  display: flex;
  font-size: var(--font-size-14);
  max-width: 150px;
  padding-left: 35px;
  position: absolute;
  right: -150px;
  -webkit-transform: translate(-20px, 70px);
          transform: translate(-20px, 70px);
  width: 150px;
  z-index: 1;
}
.app.window-app .window-header a.header-button:not(.close):before {
  background-image: var(--rpg-ui-button-rings);
  background-color: transparent;
  background-size: 100% 100%;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 37px;
  position: absolute;
  -webkit-transform: translate(-35px, -1px);
          transform: translate(-35px, -1px);
  z-index: 1;
}
.app.window-app .window-header a.header-button:not(.close):nth-child(2) {
  -webkit-transform: translate(-20px, 60px);
          transform: translate(-20px, 60px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(3) {
  -webkit-transform: translate(-20px, 105px);
          transform: translate(-20px, 105px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(4) {
  -webkit-transform: translate(-20px, 150px);
          transform: translate(-20px, 150px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(5) {
  -webkit-transform: translate(-20px, 195px);
          transform: translate(-20px, 195px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(6) {
  -webkit-transform: translate(-20px, 240px);
          transform: translate(-20px, 240px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(7) {
  -webkit-transform: translate(-20px, 285px);
          transform: translate(-20px, 285px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(8) {
  -webkit-transform: translate(-20px, 330px);
          transform: translate(-20px, 330px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(9) {
  -webkit-transform: translate(-20px, 375px);
          transform: translate(-20px, 375px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(10) {
  -webkit-transform: translate(-20px, 420px);
          transform: translate(-20px, 420px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(11) {
  -webkit-transform: translate(-20px, 465px);
          transform: translate(-20px, 465px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(12) {
  -webkit-transform: translate(-20px, 510px);
          transform: translate(-20px, 510px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(13) {
  -webkit-transform: translate(-20px, 555px);
          transform: translate(-20px, 555px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(14) {
  -webkit-transform: translate(-20px, 600px);
          transform: translate(-20px, 600px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(15) {
  -webkit-transform: translate(-20px, 645px);
          transform: translate(-20px, 645px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(16) {
  -webkit-transform: translate(-20px, 690px);
          transform: translate(-20px, 690px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(17) {
  -webkit-transform: translate(-20px, 735px);
          transform: translate(-20px, 735px);
}
.app.window-app .window-header a.header-button:not(.close):nth-child(18) {
  -webkit-transform: translate(-20px, 780px);
          transform: translate(-20px, 780px);
}

/*======================================================================*/
/* FORMAT GENERIC CONTENT
/*======================================================================*/
.app.window-app .window-content {
  background: transparent;
  border-image-source: var(--rpg-ui-generic-background);
  border-image-repeat: repeat;
  border-image-slice: 60 fill;
  border-image-width: 20px;
  border-width: 5px;
  border-style: solid;
  padding: 0px;
}
.app.window-app .window-content > * {
  border-image-source: var(--rpg-ui-generic-foreground);
  border-image-repeat: repeat;
  border-image-slice: 85 fill;
  border-image-width: 20px;
  border-width: 15px;
  border-style: solid;
  padding: 0.5rem;
  margin: 0.5rem;
}