/*======================================================================*/
/* FORMAT HEADER BUTTONS - HIDDEN
/*======================================================================*/
.app.window-app:not(.sidebar-tab, .dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout, .monks-enhanced-journal) .window-header .window-title ~ a:not(.close) {
  background-image: none;
  font-size: 0rem;
  max-width: 40px;
  overflow: hidden;
  right: -40px;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.app.window-app:not(.sidebar-tab, .dialog, .sheet-config, .folder-edit, .simple-calendar, .monsterblock, .journal-sheet, .sheet.actor, .forien-quest-log, .hand-mini-bar-hand-popout, .monks-enhanced-journal) .window-header .window-title ~ a:not(.close):hover {
  background-image: var(--rpg-ui-button-with-rings);
  font-size: var(--font-size-14);
  max-width: 150px;
  right: -150px;
}