:root {
  --rpg-ui-sidebar-cards-background: var(--rpg-ui-background-stone);
}

/*======================================================================*/
/* FORMAT SIDEBAR - SCENES
/*======================================================================*/
#sidebar .tab[data-tab].cards-sidebar {
  background-color: transparent;
  background-image: none;
  border-image-source: var(--rpg-ui-sidebar-cards-background);
  border-image-repeat: repeat;
  border-image-slice: 60 fill;
  border-image-width: 20px;
  border-width: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  box-shadow: none;
  margin: 0px;
  padding: 7px;
}
#sidebar .tab[data-tab].cards-sidebar .directory-list .directory-item.document {
  border-image-source: var(--rpg-ui-content-board-1);
  border-image-repeat: repeat;
  border-image-slice: 50 fill;
  border-image-width: 20px;
  border-width: 0px;
  margin: 0.1rem 0.25rem;
  padding: 0.5rem;
}