:root {
  --rpg-ui-sidebar-combat-background: var(--rpg-ui-background-stone);
  --rpg-ui-sidebar-combat-button-style: var(--rpg-ui-button-rounded);
  --rpg-ui-sidebar-combat-button-style-pressed: var(--rpg-ui-button-rounded-pressed);
  --rpg-ui-sidebar-combat-combatant-inactive-opacity: 0.7;
}

/*======================================================================*/
/* FORMAT SIDEBAR - SCENES
/*======================================================================*/
#sidebar .tab[data-tab].combat-sidebar {
  background-color: transparent;
  background-image: none;
  border-image-source: var(--rpg-ui-sidebar-combat-background);
  border-image-repeat: repeat;
  border-image-slice: 60 fill;
  border-image-width: 20px;
  border-width: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  box-shadow: none;
  margin: 0px;
  padding: 7px;
}
#sidebar .tab[data-tab].combat-sidebar .combat-tracker-header,
#sidebar .tab[data-tab].combat-sidebar #combat-controls {
  border-image-source: var(--rpg-ui-content-board-1);
  border-image-repeat: repeat;
  border-image-slice: 50 fill;
  border-image-width: 20px;
  border-width: 0px;
  margin: 0.1rem 0.25rem;
  padding: 0.5rem 0.75rem;
}
#sidebar .tab[data-tab].combat-sidebar .combat-tracker-header a.combat-button,
#sidebar .tab[data-tab].combat-sidebar .combat-tracker-header a.combat-control,
#sidebar .tab[data-tab].combat-sidebar #combat-controls a.combat-button,
#sidebar .tab[data-tab].combat-sidebar #combat-controls a.combat-control {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#sidebar .tab[data-tab].combat-sidebar .combat-tracker-header a.combat-button[disabled],
#sidebar .tab[data-tab].combat-sidebar .combat-tracker-header a.combat-control[disabled],
#sidebar .tab[data-tab].combat-sidebar #combat-controls a.combat-button[disabled],
#sidebar .tab[data-tab].combat-sidebar #combat-controls a.combat-control[disabled] {
  display: none;
}
#sidebar .tab[data-tab].combat-sidebar .combat-tracker-header a.combat-button i,
#sidebar .tab[data-tab].combat-sidebar .combat-tracker-header a.combat-control i,
#sidebar .tab[data-tab].combat-sidebar #combat-controls a.combat-button i,
#sidebar .tab[data-tab].combat-sidebar #combat-controls a.combat-control i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: var(--rpg-ui-sidebar-combat-button-style);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  font-size: var(--font-size-11);
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: var(--rpg-ui-sidebar-combat-button-style-padding);
  width: 24px;
}
#sidebar .tab[data-tab].combat-sidebar .combat-tracker-header a.combat-button i:hover,
#sidebar .tab[data-tab].combat-sidebar .combat-tracker-header a.combat-control i:hover,
#sidebar .tab[data-tab].combat-sidebar #combat-controls a.combat-button i:hover,
#sidebar .tab[data-tab].combat-sidebar #combat-controls a.combat-control i:hover {
  background: var(--rpg-ui-sidebar-combat-button-style-pressed);
  background-size: 100% 100%;
  padding-bottom: 0px;
  padding-top: var(--rpg-ui-sidebar-combat-button-style-padding);
  text-shadow: none;
}
#sidebar .tab[data-tab].combat-sidebar .directory-list .directory-item {
  border-image-source: var(--rpg-ui-content-board-1);
  border-image-repeat: repeat;
  border-image-slice: 50 fill;
  border-image-width: 20px;
  border-width: 0px;
  margin: 0.1rem 0.25rem;
  opacity: var(--rpg-ui-sidebar-combat-combatant-inactive-opacity);
  padding: 0.5rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#sidebar .tab[data-tab].combat-sidebar .directory-list .directory-item.active, #sidebar .tab[data-tab].combat-sidebar .directory-list .directory-item:hover {
  opacity: 1;
}